@model IEnumerable<Learny.Models.ApplicationUser>
@using Learny.Settings

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "StudentDetails", new { email = item.Email })
        </li>
    }
</ul>
