@model IEnumerable<Learny.Models.ApplicationUser>

@{
    ViewBag.Title = "Elever";
}

<h2>@ViewBag.Title</h2>


<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.Name)
        </li>
    }
</ul>
