body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Added by Egidio for Schedule View highlight activity in current date*/
.blink {
    width: auto;
    height: 30px;
    background-color: #ff5a04;
    padding: 9px;
    text-align: left;
    line-height: 10px;
}

.blinkspan {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    animation: blink 2.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.global-footer {
    text-align: center;
    padding-top: 1em;
    background-color: black;
    color: #999999;
    border-top: 1px solid #808080;
}

.global-header {
    color: #999999;
    border-bottom: 1px solid #808080;
}