@model IEnumerable<Learny.Models.Document>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.DisplayName, "Download", new { id = item.Id }, new { title = item.Description })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })
        </li>
    }
</ul>
