@model IEnumerable<Learny.Models.Document>

@*<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.DisplayName, "Download", new { id = item.Id }, new { title = item.Description })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })
        </li>
    }
</ul>*@

<table class="table">
    <tr class="headerRow">
        <th>Dokument</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.ActionLink(item.DisplayName, "Download", new { id = item.Id }, new { title = item.Description })                      </td>
            <td> @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })                       </td>
        </tr>
    }

</table>

