@model IEnumerable<Learny.Models.ApplicationUser>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "Details", new { email = item.Email })
        </li>
    }
</ul>
